{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <!-- {% if agents %} -->
          <div class="row">
            <!-- {% for agent in agents %} -->
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Agent Name</h5>
                      <span class="h4 font-weight-bold mb-0">{{agent.name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">SSDC Number</h5>
                      <span class="h4 font-weight-bold mb-0">{{agent.ssdc_number}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">ISP Name</h5>
                      <span class="h4 font-weight-bold mb-0">{{agent.isp_name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="row">
            <br>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Monthly Subscription</h5>
                      <span class="h4 font-weight-bold mb-0">{{agent.monthly_subscription}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Due Date</h5>
                      <span class="h4 font-weight-bold mb-0">{{agent.due_date}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="col-xl-4 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Approved</h5>
                      <span class="h4 font-weight-bold mb-0">{{agent.approved}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- {% endfor %} -->
          </div>
        </div>
        <!-- {% endif%} -->
      </div>
      </div>

      {% include "includes/footer.html" %}


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
